.infoText {
    background-color: white;
    text-align: left;
    padding: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoText span {
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.3rem;
}

.infoText p {}